{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<h1 class="ui header">About</h1>
	<article class="media content-section">
        <div class="media-body">      
            <h4> This portal has an interactive GUI for patients.  Health masurement information connects via an API to give Clinicians access to patient health measurements.</h4>
      </article>
	

	{% if current_user.is_authenticated %}
	  	<h2 class="ui header">Hi {{ current_user.name }}!</h2>
	{% endif %}

{% endblock %}